
<!-- componente base donde mandan a llamar a los componetes hijos, el cual son add-books y listbooks -->
<div class="jumbtron">
    <h1 class="display 4 text-center"> Book Management.</h1>
    <h3 class="display 6 text-center">Website by Damian Sepulveda Martinez </h3>

    <div class="row">
        <div class="col-md-5">
            <h6 class="text-center">
                Add Book
            </h6>
            <!-- Llamada a componente Add Books -->
            <app-add-books></app-add-books>
        </div>
        <div class="col-md-7">
            <h6 class="text-center">
                List of Books
            </h6>
            <!-- Llamada a componente List Books -->
            <app-list-books></app-list-books>
        </div>
    </div>
</div>